*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;

}

.d-flex{
  display:flex;
}

img{
  max-width: 100%;
}

h2{
  font-size: 50px;
}

p{
  font-weight: 500;
  padding-top:20px;
}

/* HEADER  */

header{ 
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height:100px;
  background-color:#255ee9;
}

.container{
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 98%;
  max-width: 1400px;
}  

/* .logo-img{

} */

.debug{
  background-color: rgb(255, 183, 0);
  border: 1px dashed black;
}

nav{
width:50%;
/* height:50px; */
}


nav ul{  
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
}


nav ul li a{
  color: white;
  display: flex;
  justify-content:center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  padding: 15px 10px;
}

nav ul li a:hover{
  background-color: rgb(55, 55, 55);
  border-radius: 20px;;
}


.buttons{
  padding: 12px;
  border-radius: 20px;
}

.jumbotron{
  background-image: url(../img/jumbo.png);
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-color:#000084;
}

.jumbo-box{
  /* justify-content: space-around;
  align-items: center; */
  width: 1000px;
  height: 500px;
}

.jumbo-text{
  color:white;
  font-size: 2em;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  
}

.top-button{

}

.scarica{
  margin-top: 30px;
}

.browser{
  
}

/* MAIN  */

.box-channel{ 
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  height: 500px;
}

.channel-img{
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
  
}

.channel-text{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}



.box-vocal{
  justify-content: flex-start;
  align-items: center;
  background-color: #d2d2d2;
  height: 500px;
}


.vocal-text{
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 400px;
}

.box-vocal .vocal-img{
  background-size: cover;
  width: 60%;
}

.box-community{
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  height: 500px;
}

.community-img{
  background-size: cover;
  width: 800px;
}

.community-text{
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 400px;
}

.box-video{
  justify-content: center;
  background-color: #d2d2d2;
  height: 900px;
}

.video-text{
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}







/* FOOTER  */

footer{
}

.utilities{ 
  justify-content: space-between;
  align-items: center;
  height:600px;
  background-color: #282b2e;
}

.language{ 
  background-color: #e08582;
  width: 350px;
  height: 480px;
}

.resources{   
  background-color:#56aea8;
  width: 230px;
  height: 480px;

}


.final{
  align-items: flex-end;
  height: 150px;
  background-color: #282b2e;
  margin-top:2px;
  margin-bottom: 2px;;
}

.bottom-foot{
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: #9ffcd5;
}

.logo-foot{

}


.registrati{

}