*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}


h1{
  padding-bottom:40px;
  font-weight: 1000;
  font-size: 55px;
}

.d-flex{
  display:flex;
}

img{
  max-width: 100%;
}

h2{
  font-size: 50px;
}

h3{
  font-size: 30px;
}

p{
  font-size: 18px;
  font-weight: 400;
  padding-top:20px;
}

/* HEADER  */

header{ 
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height:100px;
  background-color:#255ee9;
}

.container{
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 98%;
  max-width: 1400px;
}  

.jumbo-text p{
  font-size: 25px;
}

nav{
width:600px;
}


nav ul{  
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}


nav ul li a{
  color: white;
  display: flex;
  justify-content:center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  padding: 15px 10px;
}

nav ul li a:hover{
  background-color: rgb(55, 55, 55);
  border-radius: 20px;;
}


.buttons{
  font-weight: bold;
  padding: 12px;
  border-radius: 20px;
}

.jumbotron{
  background-image: url(../img/jumbo.png);
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-color:#000084;
}

.jumbo-box{
  justify-content: space-around;
  align-items: center;
  width: 800px;
  height: 500px;
}

.jumbo-text{
  color:white;
  font-size: 2em;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;  
}


.scarica{
  margin-top: 30px;
  padding: 20px;
  border-radius: 30px;
}

.browser{
  color: white;
  background-color: #282b2e;
  margin-top: 30px;
  padding: 20px;
  border-radius: 30px;  
}

/* MAIN  */

.box-channel{ 
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  padding-top: 80px;
}

.channel-img{
  background-size: cover;
  width: 70%;
  
}

.channel-text{
  flex-direction: column;
  justify-content: center;
  width: 30%;
  max-width: 500px;
}



.box-vocal{
  justify-content: flex-start;
  align-items: center;
  background-color: #d2d2d2; 
  padding-top: 300px; 
  padding-bottom: 400px;
  
  /* waves  */
  --mask:
    radial-gradient(447.21px at 50% 600.00px,#000 99%,#0000 101%) calc(50% - 400px) 0/800px 51% repeat-x,
    radial-gradient(447.21px at 50% -400px,#0000 99%,#000 101%) 50% 200px/800px calc(51% - 200px) repeat-x,
    radial-gradient(447.21px at 50% calc(100% - 600.00px),#000 99%,#0000 101%) 50% 100%/800px 51% repeat-x,
    radial-gradient(447.21px at 50% calc(100% + 400.00px),#0000 99%,#000 101%) calc(50% - 400px) calc(100% - 200px)/800px calc(51% - 200px) repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}



.vocal-text{
  flex-direction: column;
  justify-content: center;
  width: 80%;
  max-width: 300px; 
}

.box-vocal .vocal-img{
  background-size: cover;
  width: 60%;
  max-width: 700px;
}

.box-community{
  justify-content: flex-start;
  align-items: center;
  background-color: white;
}


.community-img{
  background-size: cover;
  width: 800px;
}

.community-text{
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.box-video{
  justify-content: center;
  background-color: #d2d2d2;
  padding-top: 400px;
  padding-bottom: 80px;

  /* waves  */
  --mask:
      radial-gradient(559.02px at 50% 750.00px,#000 99%,#0000 101%) calc(50% - 500px) 0/1000px 100%,
      radial-gradient(559.02px at 50% -500px,#0000 99%,#000 101%) 50% 250px/1000px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}

.video-text{
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.stars{
  width: 300px;
}

.bot-button{
  color: white;
  background-color: #909fdb;
}



/* FOOTER  */


.utilities{ 
  justify-content: space-between;
  align-items: center;
  height:600px;
  background-color: #282b2e;
}

.language{ 
  color: #7486d0;
  width: 300px;
  height: 480px;
  margin-left: 10px;
}

.ita{
  margin-top: 20px;
}

.ita-text{  
  vertical-align: top;
  color: white;
}

i{
  color: white;
}

.fa-chevron-down{
  vertical-align: top;
}

.fa-brands{
  margin-top: 10px;
  padding: 10px 5px;
}


.resources{     
  width: 230px;
  height: 480px;
}

.top-list{
  color: #7486d0;

}

.final{
  align-items: flex-end;
  height: 150px;
  background-color: #282b2e;
}

.bottom-foot{
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  border-top: 2px solid #7486d0;
  margin-bottom: 80px;
}

.register{
  background-color: #7486d0;
}